{
    "MEDIA_INTEGRATIONS": [
        {
            "MESSENGER_THREAD_ID": "",
            "DISCORD_CHANNEL_ID": "",
            "DISCORD_WEBHOOK_TOKEN": ""
        },
        {
            "MESSENGER_THREAD_ID": "",
            "DISCORD_CHANNEL_ID": "",
            "DISCORD_WEBHOOK_TOKEN": ""
        }
    ]
}