{
    "MEDIA_INTEGRATIONS": [
        {
            "messengerThreadId": "",
            "discordChannelId": ""
        },
        {
            "messengerThreadId": "",
            "discordChannelId": ""
        }
    ]
}